<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBt6x7tUKtRKCCEm4Y_YADy66bTq7nnsP8</string>
	<key>GCM_SENDER_ID</key>
	<string>418714891429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dilarabuker.instagramCloneApp1</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-5f6fc</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-5f6fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418714891429:ios:400343f53f7feb15ca894c</string>
	<key>DATABASE_URL</key>
	<string>https://instagramclone-5f6fc-default-rtdb.firebaseio.com</string>
</dict>
</plist>